*{
  margin: auto;
  background-image: url("img.jfif");
}
h1{
    color: black;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: #110e0b;
    font-family: cursive, sans-serif;
  }
  ::-webkit-input-placeholder {
     color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #ccc;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ccc;  
  }
  :-ms-input-placeholder {  
     color: #ccc;  
  }
  button {
    padding: 10px;
    font-size: 1.2em;
    color: black;
    cursor: pointer;
    background-color: green;
    

  }

  #convert{
    margin: auto;
    align-items: center;
    width: 20%;
    margin-top: 100px;
    border: 3px solid #1272e0;
    margin-left: 450px;
  }
  #clear{
    margin: auto;
    align-items: center;
    width: 20%;
    margin-top: 100px;
    border: 3px solid #0f65d4;
  
  }
